.flex-container{
    display: flex;
    padding: 0;
    margin: 0;
    border: 10px blue solid;
    height: 1000px;

    flex-direction:row-reverse;
    flex-wrap: wrap;
    align-items:stretch;
    /* justify-content: space-between; */
}

.flex-item {
    background-color: tomato;
    padding: 5px;
    width: 200px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border: 1px greenyellow solid;
    height: 150px;
    /* flex-grow: 4; */
}

.flex-item1 {
    background-color: tomato;
    padding: 5px;
    width: 200px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border: 1px greenyellow solid;
    height: 150px;

    /* flex-grow: 1; */
    order: 1;
    align-self:center;
    
}

.flex-item:nth-child(2n){
    height: 250px;
    line-height: 250px;

}